<div class="user-profile-widget">
    <div class="user-info-text">
        <span class="user-name">Usuario Node</span>
        <span class="user-role">Administrador</span>
    </div>
    <div class="user-avatar-circle">
        <i class="fas fa-user-shield"></i>
    </div>
</div>
